body {
    background-color: #eee4ca;
    color: #000;
    font-family: 'Arial', sans-serif;
    padding-top: 10vh;

    background-image:
    linear-gradient(90deg, rgba(200, 200, 200, 0.5) 1px, transparent 1px),
    linear-gradient(rgba(200, 200, 200, 0.5) 1px, transparent 1px);
    background-size: 40px 40px; /* Spacing between lines */
}

@media (max-height: 1000px) {
    body {
        padding-top: 0;
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(0deg, #f3da9d 0%, #fff5d6 100%);
    border-radius: 15px;
    border: 1px solid #e9be9c;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(0deg, #876143 0%, #a67c60 100%);
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        max-height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.sitebanner {
    max-width: 300px;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    image-rendering: pixelated;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 550px;
    color: #000;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 25px;
    color: #000;
    width: 60%;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #000;
    width: 15%;
    border-right: 1px solid #e9be9c;
}

.sidebar-left ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px;
    gap: 20px;
}

.sidebar-left li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar-icon {
    max-width: 65px;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
    image-rendering: pixelated;
}

.animated-icon {
    display: none;
}

.gif-container:hover .sidebar-icon {
    display: none;
}

.gif-container:hover .animated-icon {
    display: block;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #000;
    width: 25%;
    border-left: 1px solid #e9be9c;
    text-align: center;
}

.sidebar-right ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.sidebar-right li {
    padding: 8px 0;
    border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
    .page-content {
        flex-direction: column;
        align-items: center;
    }
    .sidebar-left {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e9be9c;
    }
    .sidebar-left ul {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .sidebar-right {
        width: 100%;
        border-left: none;
        border-top: 1px solid #e9be9c;
    }
    .main-content {
        width: 90%;
        min-height: 300px;
    }
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    background: linear-gradient(0deg, #876143 0%, #a67c60 100%);
    color: #fff;
}