{{ define "main" }}
<div class="post">
    <h1>Home</h1>
    <p>Hi! Welcome to NeonGPU, my personal website containing my blog and all of my projects. Feel free to take a look around.</p>
    <p>At the top, you can look at my <a href="/blog">blog</a>, <a href="/projects">my projects</a>, or even <a href="/surf">surf other websites</a> I found interesting.</p>
    <p>On the right (or the bottom, if you're on mobile), you can check out my socials and check how many visits this website has.</p>

    <h2>About me</h2>
    <p>
        I love tech. I started getting into Python when I was about 8 years old,
        mostly messing around and building random things. The reason I made this site is to
        document things I'm building now, and maybe write about other stuff I'm into.
    </p>
    <p>
        ... I also like breakcore and anime. :)
    </p>
</div>

{{ end }}