{{ define "main" }}
<h1>Surf!</h1>
<p>Browse some of the other sites I found interesting.</p>
<div class="surf">
    <a href="https://wiby.org/about/" title="Personal site search engine"><img src="https://onio.club/buttons/wiby.org.gif"></a>
    <a href="https://ake.neocities.org/"><img class="surf-link" src="https://ake.neocities.org/88x31mono.png"></a>
    <a href="https://dabric.xyz/"><img src="https://dabric.xyz/butt.png" alt="dabric" width="81" height="33"></a>
</div>

<p>Check out these neighborhoods on Neocities!</p>

<div class="surf">
    <a href="https://neo-neighborhoods.neocities.org/SiliconValley/residence"><img src="https://neo-neighborhoods.neocities.org/SiliconValley/silval2.gif" width="88" height="31" title="" alt=""></a>
</div>

<h2>Share my site?</h2>
<p>Below is the banner for this website if you'd like to share it.</p>

<div class="surf">
    <a href="https://kalefetch.github.io/" title="Kalefetch personal website"><img src="/share.gif"></a>
    <a href="https://kalefetch.github.io/" title="Kalefetch personal website"><img src="/share.png"></a>
</div>
{{ end }}